.header {
    padding: 24px 0;
    border-bottom: 1px solid #eee;
}

.header .top {
    display: flex;
    align-items: center;
    margin: 0 0 32px 0;
}

.header .top .search {
    position: relative;
    margin: 0 0 0 32px;
}

.header .top .search input {
    width: 400px;
    height: 50px;
    padding: 12px 24px;
    outline: none;
    border: 1px solid #ddd;
    border-radius: 50px;
}

.header .top .search input::placeholder {
    padding: 12px 0;
    color: #2c2c2c;
    font-size: 14px;
    font-weight: 400;
}

.header .top .search .icon {
    position: absolute;
    top: 50%;
    right: 24px;
    transform: translate(0, -50%);
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

.header .top .cus {
    margin: 0 0 0 auto;
    display: flex;
    align-items: center;
    gap: 16px;
}

.header .top .cus>li{
    font-size: 14px;
    font-weight: 500;
}

.header .bottom {
    display: flex;
    align-items: center;
    gap: 24px;
}

.header .bottom .impor {
    display: flex;
    gap: 18px;
}

.header .bottom .impor>li a {
    display: inline-flex;
    align-items: center;
    gap: 6px;
}

.header .bottom .impor>li img {
    width: 32px;
    height: 32px;
}

.header .bottom .impor>li span {
    font-size: 14px;
    font-weight: 500;
}

.header .bottom .impor>li strong {
    font-size: 8px;
    font-weight: 500;
    padding: 2px 4px;
    background: red;
    color: #fff;
    border-radius: 20px;
}

.header .bottom .air {
    font-size: 14px;
    font-weight: 600;
    height: 25px;
    position: relative;
}

.header .bottom .air::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -12px;
    transform: translate(0, -50%);
    background: #eee;
    width: 1px;
    height: 20px;
}

.header .bottom .air a {
    display: inline-flex;
    height: 100%;
    align-items: center;
}

.main_event {
    padding: 30px 0;
    position: relative;
    
}

.main_event .e_slide .event figure {
    overflow: hidden;
    border-radius: 25px;
    height: 320px;
}

.main_event .e_slide .event figure img {
    height: 100%;
}

.main_event .slide_btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 998;
    max-width: 1220px;
    width: 100%;
    padding: 0 60px;
}

.main_event .slide_btn i {
    font-size: 18px;
    font-weight: 700;
    background: rgba(255, 255, 255, 0.9);
    padding: 10px;
    border-radius: 50px;
    box-shadow: 1px 0 10px #ddd;
}

.main_event .slide_btn .prev {
    position: absolute;
    left: 0;
}

.main_event .slide_btn .next {
    position: absolute;
    right: 0;
}

main .tit {
    text-align: center;
    margin: 0 0 30px 0;
}

main .tit h2 {
    font-size: 32px;
    font-weight: 700;
    margin: 0 0 12px 0;
}

main .tit p {
    font-size: 16px;
    font-weight: 400;
    color: #a1a1a1;
}

.main_shop {
    padding: 50px 0;
}

.main_shop .list {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin: 0 0 30px 0;
}

.main_shop .list .li {
    padding: 12px 24px;
    border: 1px solid #a1a1a1;
    border-radius: 32px;
    font-size: 14px;
    cursor: pointer;
}

.main_shop .list .li.on {
    background: #000;
    color: #fff;
    border: none;
}

.main_shop .tab_menu {
    margin: 0 0 16px 0;
}

.main_shop .tab_menu .tab {
    display: none;
}

.main_shop .tab_menu .tab.on {
    display: block;
}

.main_shop .tab_menu .tab .t_01{
    border: 1px solid #ddd;
    border-radius: 16px;
    overflow: hidden;
}

.main_shop .tab_menu .tab .t_01 .impor {
    padding: 20px;
}

.main_shop .tab_menu .tab .t_01 .impor ul {
    display: flex;
    gap: 6px;
    margin: 0 0 8px 0;
}

.main_shop .tab_menu .tab .t_01 .impor ul>li:first-child {
    font-size: 20px;
    font-weight: 600;
    color: rgb(255, 40, 40);
}

.main_shop .tab_menu .tab .t_01 .impor ul>li strong {
    font-size: 20px;
    font-weight: 700;
}

.main_shop .tab_menu .tab .t_01 .impor ul>li {
    font-size: 16px;
    font-weight: 400;
}

.main_shop .tab_menu .tab .t_01 .impor span {
    font-size: 15px;
    font-weight: 400;
}

.main_shop .go {
    display: block;
    width: 100%;
    text-align: center;
}

.main_shop .go a {
    display: inline-block;
    padding: 10px 24px;
    border-radius: 20px;
    border: 1px solid #ddd;
    font-weight: 600;
}